p{
    text-indent: 2em;
    line-height: 2em;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.5em; 
    margin-top: 0.5em;
}

li{
    margin-bottom: 0.5em;
}

img{
    max-width: 25em;
    max-height: 65dvh;
}

p:has(img){
    text-align: center;
}

.col-md-3 li{
    margin-bottom: 0em;
    margin-top: 0em;
    line-height: 1em;
}

#navbar-collapse{
    vertical-align:middle;
    margin-left: 8em;
}

#navbar-collapse li{
    margin-right: 1.5em;
}

.navbar-brand{
    margin-left: 4em;
}

@keyframes dropdown-animation {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.dropdown-menu{
    /* width: 10em; */
    margin-top: 1em;
    animation: dropdown-animation 0.2s forwards;
}

.dropdown-menu a:hover{
    background-color: #F2F2F2;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: transparent;
    color: black;
}

.dropdown-menu a{
    background-color: white;
}

.navbar-brand{
    margin-top: -0.5em;
    padding: 8px;
}

.navbar-light{
    margin-top: 2em;
}

.navbar-nav .nav-item{
    display: none;
}

footer p:nth-last-child(1){
    display: none;
}

#toc-collapse{
    padding-top: 1em;
    padding-bottom: 1em;
}